{
  "project_info": {
    "project_number": "YOUR_PROD_PROJECT_NUMBER",
    "project_id": "mosque-live-screen",
    "storage_bucket": "mosque-live-screen.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:YOUR_PROD_PROJECT_NUMBER:android:YOUR_APP_ID",
        "android_client_info": {
          "package_name": "com.mirazanik.masjidscreen"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_PROD_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
